.modal {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  min-height: 100vh;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 32px;
  svg {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 100%;
  }
  .modalHeader {
    h1 {
      font-size: 20px;
    }
  }
  .icons {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
