.modal {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  min-height: 100vh;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}
