.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.itemWrapper > img {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}

.itemWrapper > div {
  font-family: "Work Sans";
  font-weight: 500;
}

.modalItemWrapper {
  display: flex;
  gap: 64px;
}

.modalItemWrapper > img {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}

.modalItemWrapper > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalItemWrapper > div > button {
  width: auto;
  max-width: 122px;
  height: 32px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
